<div class="container pt-5 mb-5">
    <div class="m-auto w-50 border rounded px-5 py-4 shadow">
        <h2 class="text-warning">Đăng nhập</h2>
        <div class="form-outline mb-2" data-mdb-input-init>
            <i class="fa-solid fa-phone trailing"></i>
            <input name="phone" type="text" id="phone" class="form-control form-icon-trailing" />
            <label class="form-label" for="phone">Tài khoản</label>
        </div>

        <div class="form-outline mb-2" data-mdb-input-init>
            <i class="fa-solid fa-lock trailing"></i>
            <input name="password" type="password" id="password" class="form-control form-icon-trailing" />
            <label class="form-label" for="password">Mật khẩu</label>
        </div>

        <button class="btn btn-warning btn-block mb-2" onclick="login()">Đăng nhập</button>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/main.js"></script>